# Unity 관련 불필요한 폴더
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/


.idea
.plastic
# 유니티 설정 파일 (각자 팀에 맞게 결정)
# .vs/  # Visual Studio 관련 폴더 (필요 없으면 추가)

# Git 관련
.DS_Store
*.swp
*.suo
*.user
*.unityproj
*.pidb
*.booproj